.App {
  text-align: center;
  border: 2px solid red;
  width:75%;
  margin: 10px 100px;
}

.user-card {
  border: 2px solid goldenrod;
  margin: 10px 75px;
}

.followers-card {
  border: 2px solid green;
  margin: 10px 75px;
}